// Background colors
$background: linear-gradient(180deg, #f6fafd 0%, #ffffff 19.4%);
$pink: #f063b8;
$lightPink: rgba(240, 99, 184, 0.15);
$purple: #9c69e2;
$white: #ffffff;

// Font colors
$gray: #4b5d68;
$dark-blue: #212353;
