h2 {
  font-family: Helvetica, sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: var(--b);
  margin: 0 0 40px 0;
}

h3 {
  font-family: Helvetica, sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 50px;
  color: #212353;
  padding-top: 49px;
  margin: 0;
}

.btn {
  background-color: #FFFFFF;
  border-radius: 100vw;
  border: none;
  padding: 1.15rem 2rem;
  font-family: inherit;
  font-weight: 700;
  font-size: 1rem;
}

.btn__arrow {
  position: relative;
  margin-left: 1rem;
}

.btn--arrowed {
  display: flex;
  align-items: end;
}

.feature__btn {
  padding: 0;
  background-color: transparent;
  color: #212353;
}

.btn-arrow-right {
  justify-content: right;
}

.btn-arrow-point {
  position: relative;
  width: 9px;
  height: 2px;
  background: #9C69E2;;
  border-radius: 1px;
  left: 12px;
}

.btn-arrow-right .btn-arrow-point-top {
  transform: rotate(50deg);
  bottom: 1px;
}

.btn-arrow-vertical {
  width: 20px;
  height: 2px;
  background: #9C69E2;
  border-radius: 1px;
}

.btn-arrow-right .btn-arrow-point-bottom {
  transform: rotate(-50deg);
  top: 1px;
}

p {
  margin: 0;
}

.features {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  width: 71vw;
  margin: 7rem auto;
  margin-top: 0;
}

.features h2 {
  margin-bottom: 50px;
  text-align: center;
}

.features p {
  margin-bottom: 100px;
  text-align: center;
}

.features-grid p {
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
}

.features-grid {
  position: relative;
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 80px;
  right: 16px;
  row-gap: 50px;
}

.feature {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  height: 358px;
}

.feature__shape {
  position: absolute;
  z-index: -10;
  right: 30px;
}

.feature__shape__data {
  height: 358px;
  width: 340px;
  border-radius: 0 50px 50px 0;
  opacity: 0.1;
  position: absolute;
  right: 0px;
}

.feature__shape__data--green {
  background-color: #68C9BA;
}

.feature__shape__data--purple {
  background-color: #9C69E2;
}

.feature__shape__data--pink {
  background-color: #F063B8;
}

.feature__shape__data--blue {
  background-color: #2D9CDB;
}

// .search-data-img {
//   position: absolute;
//   top: 20px;
//   right: 12.01px;
// }

// .search-data-ellipse {
//   position: absolute;
//   transform: rotate(20.72deg);
//   width: 33.7px;
//   height: 19.91px;
//   top: 43.88px;
//   right: 117.37px;
// }

.all-hours-img {
  position: absolute;
  transform: rotate(180deg) scale(1.09);
  top: 203px;
  right: 35px;
}

// .print-out-ellipse {
//   position: absolute;
//   transform: rotate(150deg);
//   width: 68.05px;
//   height: 40.21px;
//   top: 37px;
//   right: 32.96px;
//   border: 1.5px solid white;
//   border-radius: 100%;
// }

.security-code-img {
  position: absolute;
  top: -10px;
  right: 61px;
}

// .security-code-ellipse {
//   position: absolute;
//   transform: rotate(20.72deg);
//   width: 61.85px;
//   height: 36.55px;
//   top: 285px;
//   right: 35px;
// }

.feature__shape__data::before {
  content: "";
  background-color: inherit;
  width: 100px;
  height: 362px;
  border-radius: 50px;
  position: absolute;
  transform: rotate(10deg);
  top: -2px;
  left: -69px;
}
.feature__shape__data::after {
  content: "";
  background-color: inherit;
  width: 200px;
  height: 100px;
  border-radius: 50px;
  position: absolute;
  bottom: 0px;
  left: -92px;
}

.feature .bg img {
  position: absolute;
}

.search-data-img {
  position: relative;
  top: 73px;
  left: -50px;
}

.all-hours-access-img {
  position: relative;
  top: 71px;
  left: -50px;
}

.print-out-img {
  position: relative;
  top: 123px;
  left: -50px;
}

.security-code-img {
  position: relative;
  top: 86px;
  left: -50px;
}

.feature-info {
  position: relative;
  right: 80px;
  width: 220px;
}

.feature-info p {
  text-align: left;
  margin: 0;
  padding-top: 20px;
  height: 160px;
}

.features-btn {
  display: flex;
  align-items: center;
  width: auto;
  background: transparent;
  padding: 20px 0 0 0;
}

.features .btn-arrow-right {
  padding-left: 20px;
}

@media screen and (max-width: 884px) {
  .features-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    min-width: 400px;
    right: 0px;
    width: 90vw;
  }

  // .search-data-img {
  //   left: -100px;
  // }
  
  .all-hours-access-img {
    left: -100px;
  }
  
  .print-out-img {
    left: -100px;
  }
  
  .security-code-img {
    left: -100px;
  }
}