@use '../abstracts/colors' as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 70vw;
  max-height: 60px;
  margin: 3rem auto;
}

.nav {
  min-width: 30vw;
  margin-right: 4vw;
}

.nav__list {
  display: inline-block;
}

.nav__item {
  display: inline-block;
  margin: 0 1rem;
  & a {
    color: $gray;
    text-decoration: none;
  }
}

.nav__btn {
  display: flex;
}

.header__menu {
  display: none;
}

@media screen and (max-width: 884px) {
  .nav {
    margin-right: 0;
    margin-left: 2rem;
  }
}

@media screen and (max-width: 580px) {
  .nav {
    display: none;
  }
  .header__menu {
    display: block;
    width: 2rem;
  }
}

@media screen and (max-width: 500px) {
  .header {
    max-width: 80vw;
  }
}
